name: foo
on:
  push:
    branches:
      - main

jobs:
  hoge:
    runs-on: ubuntu-latest
    steps:
      - name: conda
        run: |
          wget -c https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
          bash Miniconda3-latest-Linux-x86_64.sh -b -f 
          ~/miniconda3/condabin/conda init
          source ~/.bashrc
      - name: download
        run: |
          s=kneaddata
          wget -c ftp://download.nmdc.cn/tools/conda/${s}.tar.gz
          soft=~/miniconda3
          mkdir -p ${soft}/envs/${s}
          tar -xvzf ${s}.tar.gz -C ${soft}/envs/${s}
          conda activate ${s}
          conda unpack
